

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div>
        <h1>Index 2 content</h1>

        <p>Data from ViewData set in Index action method: @ViewData["name"]</p>

        <p>Data from ViewBag set in Index action method: @ViewBag.Email</p>

        <p>TempData Value : @TempData["address"]</p> @*access ho jayenga tempdata kyu ki keep method se rok kar rakha hai data*@
    </div>
</body>
</html>
